version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: store
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  store:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://pguser:pgpass@db:5432/store
      NEXT_PUBLIC_URL: http://localhost:3000
      NEXT_PUBLIC_VAPID_PUBLIC_KEY: ""
      VAPID_PRIVATE_KEY: ""
      ADMIN_PASSWORD: admin123
      ADMIN_TOKEN: ""
      ADMIN_JWT_SECRET: ""
      NODE_ENV: production
    ports:
      - "3001:3000"
    depends_on:
      - db
    volumes:
      - ./public/uploads:/app/public/uploads

volumes:
  pgdata:
    driver: local
